ansicon==1.89.0
asttokens==3.0.2
big_O==0.11.0
blessed==1.47.0
bpython==0.26
certifi==2026.7.22
charset-normalizer==3.4.9
colorama==0.4.6
coverage==7.15.2
curtsies==0.4.3
cwcwidth==0.1.12
decorator==5.3.1
executing==2.2.1
greenlet==3.5.4
idna==3.18
ijson==3.5.1
iniconfig==2.3.0
ipython==9.15.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
jinxed==2.1.0
matplotlib-inline==0.2.2
memory-profiler==0.61.0
mpmath==1.4.1
numpy==2.5.1
packaging==26.2
parso==0.8.7
pathspec==1.1.1
pluggy==1.6.0
prompt_toolkit==3.0.53
psutil==7.2.2
pure_eval==0.2.3
Pygments==2.20.0
pytest==9.1.1
pytest-cov==7.1.0
pyxdg==0.28
PyYAML==6.0.3
requests==2.34.2
stack-data==0.6.3
traitlets==5.15.1
urllib3==2.7.0
wcwidth==0.8.2
yamllint==1.38.0
